ol{
    padding: 15px 5px !important;
    li{
        
        color: #fff !important  ;
        span{
            
            a{
            color: #fff !important;
            text-decoration: none;
            font-weight: 600;
            font-style: italic;
            }
        }
    }
}